# Telegram Bot
BOT_TOKEN=8461456400:AAFOgnrKmDIhsBBpc8tCd53dplcB5RRRXlo

# CryptoBot (для платежей)
CRYPTO_BOT_TOKEN=576904:AAI0wei0As7KzET0A7uECs10t1dhMOFGQZf

# Marzban API
MARZBAN_URL=https://s3cr3tpan3l.trankvpn.uk
MARZBAN_USER=admin
MARZBAN_PASS=Tr@nq5010m1d

# Ссылка на подписки
SUBSCRIPTION_URL=https://trankvpn.uk

# Тег inbound в Marzban
INBOUND_TAG=VLESS TCP REALITY

# База данных
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=marzban
DB_PASS=cfPnN4SvTyzcIt6vyN8e
DB_NAME=marzban

# MySQL Root (для docker-compose)
MYSQL_ROOT_PASSWORD=lZtvOEIp8dEhFCbjB3Sz
MYSQL_DATABASE=marzban
MYSQL_USER=marzban
MYSQL_PASSWORD=cfPnN4SvTyzcIt6vyN8e
