# Панель на секретном поддомене
s3cr3tpan3l.trankvpn.uk {
    reverse_proxy unix//var/lib/marzban/marzban.socket
}

# Основной домен — подписки + заглушка
trankvpn.uk {
    handle /sub/* {
        reverse_proxy unix//var/lib/marzban/marzban.socket
    }

    handle {
        root * /var/lib/marzban/stub
        try_files {path} /index.html
        file_server
    }
}